/target/
.project
.classpath
.idea/
*.iml
.settings/
logs/
*.class
*.iml
/modules/*/target/
/modules/iwm-lh/src/main/resources/templates/wmstorage/wmordertype-info.ftl
/iwmweb-logs/
/iwmile-logs/
/iwmreceive-logs/
/iwmstorage-logs/
/modules/iwm-interface-dma-receive/iwmreceive-logs/
/modules/iwm-interface-dma-storage/iwmstorage-logs/
*.trc

